<header class="fixed top-0 left-0 w-full bg-white shadow-sm z-50 h-16">
  <div class="flex justify-between px-10  py-3">

    <div class="flex items-center space-x-2">
      <img src="assets/logo/company-logo.png" alt="Logo" class="h-6 w-6 sm:h-8 sm:w-8">
      <div class="text-[#320c69] text-sm sm:text-xl font-extrabold tracking-wide">
        <a [routerLink]="['/']">AutoExchange</a>
      </div>
    </div>

    <div class="hidden sm:flex items-center gap-6">
      <div
        class="flex items-center space-x-2 bg-gray-50 px-3 py-1 rounded-full shadow-sm hover:shadow-md cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-[#001f3f]" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd"
            d="M10 2a6 6 0 00-6 6c0 4.418 6 10 6 10s6-5.582 6-10a6 6 0 00-6-6zm0 8a2 2 0 110-4 2 2 0 010 4z"
            clip-rule="evenodd" />
        </svg>
        <span class="text-[#320c69] text-sm font-medium">Set Location</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-gray-500 ml-1" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </div>

      <!-- Buy Car -->
      <div class="relative group">
        <div class="flex items-center text-[#320c69] text-sm font-semibold hover:underline px-2 py-1 cursor-pointer">
          Buy Car
          <svg class="ml-1 h-3 transition-transform duration-300 group-hover:rotate-180" fill="currentColor"
            viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.188l3.71-3.958a.75.75 0 111.08 1.04l-4.25 4.533a.75.75 0 01-1.08 0l-4.25-4.533a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div
          class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-xl z-30 opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-all duration-300">
          <ul class="flex flex-col">
            <li *ngFor="let city of cities">
              <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 transition">{{ city }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <div class="relative" (click)="showCall()">
        <img src="assets/icons/callUs-icon.png"
          class="border-solid rounded-full cursor-pointer h-10 w-10 text-[#320c69]" alt="Call Icon">
        <div *ngIf="showCallPopup" class="absolute right-0 mt-2 w-56 bg-white rounded-lg shadow-lg p-4 z-50">
          <p class="text-sm font-semibold text-gray-800">📞 Call Us At</p>
          <p class="text-base text-[#320c69] font-bold mt-1">+91 95682-65862</p>
          <p class="text-xs text-gray-500 mt-1">Mon-Sat: 9AM - 6PM</p>
        </div>
      </div>

      <div class="relative border-2 border-solid rounded-full p-1 border-indigo-800" (click)="showProfile()">
        <img src="assets/logo/profile-logo.png" class="w-7 h-7 border-solid rounded-full cursor-pointer "
          alt="Profile Icon">
        <div *ngIf="showLoginPopup" class="absolute right-0 mt-2 w-64 bg-white rounded-lg shadow-lg p-4 z-50">
          <p class="text-sm font-semibold">Hi, <span class="font-bold">Guest!</span></p>
          <p class="text-xs text-gray-600 mb-3">Login to get your dream vehicle</p>
          <button class="w-full bg-[#3b82f6] text-white text-sm font-semibold py-2 rounded hover:bg-blue-600">Log
            In</button>
        </div>
      </div>
    </div>

  </div>
</header>