<div class="flex justify-between items-center px-40 py-4 relative">
  
    <div class="text-[#320c69] text-2xl font-bold tracking-wide">
      <a [routerLink]="['/']" >Sample App</a> 
    </div>
  
    <div class="flex items-center space-x-10">
  
      <div class="relative">
        <button (click)="toggleDropdown()" class="flex items-center text-[#320c69] font-bold hover:underline focus:outline-none">
          Buy Car
          <svg [ngClass]="{'transform rotate-180': isDropdownOpen}" class="ml-1 w-4 h-4 transition-transform duration-300" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.188l3.71-3.958a.75.75 0 111.08 1.04l-4.25 4.533a.75.75 0 01-1.08 0l-4.25-4.533a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
  
        <div *ngIf="isDropdownOpen" class="absolute bg-white shadow-lg mt-2 rounded-md w-48 z-10">
          <ul class="flex flex-col">
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Delhi</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Mumbai</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Bangalore</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Chennai</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Hyderabad</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Kolkata</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Pune</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Ahmedabad</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Jaipur</a></li>
            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Surat</a></li>
          </ul>
        </div>
      </div>
  
      <div class="flex flex-col text-[#320c69] font-bold text-right">
        <span>Call us at</span>
        <a href="tel:9568265862" class="hover:underline">+91 95682 65862</a>
      </div>
  
    </div>
  
  </div>
  