<app-header></app-header>
<section class="bg-gray-100 flex flex-col justify-center items-center">
  <div class="min-h-screen max-w-full p-8 pt-20">
    <nav class="text-sm text-gray-500">
      <a [routerLink]="['/']" class="hover:underline">Home</a> /
      <span class="text-[#320c69] font-semibold">{{ type | titlecase }}</span>
    </nav>

    <h1 class="text-3xl font-extrabold text-[#320c69] mb-6">
      Explore {{ type | titlecase }}s for Sale
    </h1>

    <p class="text-[#320c69] max-w-7xl leading-relaxed mb-10">
      Discover {{ vehicleList.length }} top-quality {{ type }}s available across India, starting from just ₹2,332.
      Choose from a range of <strong>new</strong> and <strong>pre-owned {{ type }}s</strong>, all listed at fixed
      prices.
      Every listing is backed by our Full Circle Trust Score and a 100% refundable token policy.
      Find your ideal {{ type }} today and make your dream a reality!
    </p>

    <div class="flex justify-end mb-6">
      <div class="flex items-end gap-4">
        <label for="sortBy" class=" text-sm font-medium text-[#320c69]">Sort By:</label>
        <select id="sortBy" (change)="onSortChange($event)"
          class="border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value="Default">Default</option>
          <option value="priceAsc">Price: Low to High</option>
          <option value="priceDesc">Price: High to Low</option>
          <option value="kmsAsc">KMs Driven: Low to High</option>
          <option value="kmsDesc">KMs Driven: High to Low</option>
        </select>
      </div>
    </div>


    <button class="md:hidden p-2 text-gray-700" (click)="isMenuOpen = !isMenuOpen">☰</button>
    <div class="flex flex-col md:flex-row gap-4 h-full ">
      <!-- Filter Section -->
      <div class="order-1 md:order-none md:block w-full md:w-32 lg:w-64 overflow-y-auto"
        [ngClass]="{ 'hidden': !isMenuOpen, 'block': isMenuOpen, 'md:block': true }">

        <div class="flex justify-between items-center mb-4">
          <p class="hidden lg:flex text-lg font-semibold flex items-center gap-2 text-[#320c69]">
            <img src="assets/icons/filter-icon.png" class="h-5 w-5" alt="Filter Icon" />
            Filters
          </p>

          <button
            class="bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-1 px-1 rounded transition duration-200"
            (click)="resetFilters()">
            Reset Filter
          </button>
        </div>

        <div *ngIf="fuelTypes.length != 0" class="bg-white shadow-md shadow-black/10 px-4 py-3 rounded-b-lg mb-2">
          <div class="flex justify-between items-center mb-2">
            <label class="text-sm font-medium text-[#320c69]">Fuel Type</label>
            <button (click)="toggleSection('isFuelOpen')">
              <span class="text-xl leading-none">
                {{ isFuelOpen ? '-' : '+' }}
              </span>
            </button>
          </div>
          <div *ngIf="isFuelOpen">
            <div *ngFor="let fuel of fuelTypes" class="flex items-center mb-1">
              <input type="checkbox" [value]="fuel" (change)="onFuelTypeChange($event)"
                [checked]="filters.fuelTypes.includes(fuel)" class="mr-2" />
              <label>{{ fuel }}</label>
            </div>
          </div>
        </div>


        <div *ngIf="transmissions.length != 0" class="bg-white shadow-md shadow-black/10 px-4 py-3 rounded-b-lg mb-2">
          <div class="flex justify-between items-center mb-2">
            <label class="text-sm font-medium text-[#320c69]">Transmission</label>
            <button (click)="toggleSection('isTransmissionOpen')">
              <span class="text-xl leading-none">
                {{ isTransmissionOpen ? '-' : '+' }}
              </span>
            </button>
          </div>
          <div *ngIf="isTransmissionOpen">
            <div *ngFor="let t of transmissions" class="flex items-center mb-1">
              <input type="checkbox" [value]="t" (change)="onTransmissionChange($event)"
                [checked]="filters.transmissions.includes(t)" class="mr-2" />
              <label>{{ t }}</label>
            </div>
          </div>
        </div>

        <div *ngIf="brands.length != 0" class="bg-white shadow-md shadow-black/10 px-4 py-3 rounded-b-lg mb-2">
          <div class="flex justify-between items-center mb-2">
            <label class="text-sm font-medium text-[#320c69]">Brand</label>
            <button (click)="toggleSection('isBrandOpen')">
              <span class="text-xl leading-none">
                {{ isBrandOpen ? '-' : '+' }}
              </span>
            </button>
          </div>
          <div *ngIf="isBrandOpen">
            <div *ngFor="let b of brands" class="flex items-center mb-1">
              <input type="checkbox" [value]="b" (change)="onBrandChange($event)" [checked]="filters.brands.includes(b)"
                class="mr-2" />
              <label>{{ b }}</label>
            </div>
          </div>
        </div>

        <div *ngIf="locations.length != 0" class="bg-white shadow-md shadow-black/10 px-4 py-3 rounded-b-lg mb-2">
          <div class="flex justify-between items-center mb-2">
            <label class="text-sm font-medium text-[#320c69]">Location</label>
            <button (click)="toggleSection('isLocationOpen')">
              <span class="text-xl leading-none">
                {{ isLocationOpen ? '-' : '+' }}
              </span>
            </button>
          </div>
          <div *ngIf="isLocationOpen">
            <div *ngFor="let loc of locations" class="flex items-center mb-1">
              <input type="checkbox" [value]="loc" (change)="onLocationChange($event)"
                [checked]="filters.locations.includes(loc)" class="mr-2" />
              <label>{{ loc }}</label>
            </div>
          </div>
        </div>

        <div *ngIf="years.length != 0" class="bg-white shadow-md shadow-black/10 px-4 py-3 rounded-b-lg mb-2">
          <div class="flex justify-between items-center mb-2">
            <label class="text-sm font-medium text-[#320c69]">Year</label>
            <button (click)="toggleSection('isYearOpen')">
              <span class="text-xl leading-none">
                {{ isYearOpen ? '-' : '+' }}
              </span>
            </button>
          </div>
          <div *ngIf="isYearOpen">
            <div *ngFor="let y of years" class="flex items-center mb-1">
              <input type="checkbox" [value]="y" (change)="onYearChange($event)" [checked]="filters.years.includes(y)"
                class="mr-2" />
              <label>{{ y }}</label>
            </div>
          </div>
        </div>

      </div>
      <!-- vehical Section -->
      <div class="order-2 flex-1">
        <div class="mx-auto px-4 lg:px-8">
          <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
            <div *ngFor="let vehicle of vehicleList" (click)="goToDetailPage(vehicle)"
              class="bg-white rounded-lg shadow-sm hover:shadow-lg hover:bg-gray-100 transform hover:scale-105 transition-transform duration-300 p-4 cursor-pointer">
              <div class="relative">
                <img [src]="vehicle.imageUrl" alt="{{ vehicle.title }}" class="w-full h-48 object-cover rounded-md" />
              </div>

              <div class="mt-4">
                <h2 class="text-lg font-semibold text-gray-900 mb-2 truncate">
                  {{ vehicle.title }}
                </h2>

                <div class="text-xl font-bold text-[#320c69] mb-1">
                  ₹ {{ vehicle.price / 2 | number }}
                </div>
                <div class="text-sm text-gray-500 mb-4">EMI: N/A</div>

                <div class="flex flex-wrap text-gray-600 text-xs gap-4">
                  <div class="flex flex-col items-center gap-1">
                    <p class="font-medium">KMs Driven</p>
                    <p>{{ vehicle.kmsDriven | number }}</p>
                  </div>
                  <div class="flex flex-col items-center gap-1">
                    <p class="font-medium">Location</p>
                    <p>{{ vehicle.location }}</p>
                  </div>
                  <div class="flex flex-col items-center gap-1">
                    <p class="font-medium">Fuel Type</p>
                    <p>{{ vehicle.fuelType }}</p>
                  </div>
                  <div class="flex flex-col items-center gap-1">
                    <p class="font-medium">Transmission</p>
                    <p>{{ vehicle.transmission }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="border border-t-0 border-black w-full"></div>

  <div class="my-10 max-w-full p-8 pt-0">
    <div>
      <h2 class="text-4xl text-[#320c69] font-semibold mb-4 text-center">Discounted {{type}}</h2>
    </div>

    <div class="flex flex-wrap justify-center gap-6 mx-auto">
      <div *ngFor="let vehicle of vehicleList.slice(0,6)" class="bg-white rounded-xl shadow-md w-72 flex flex-col">

        <img [src]="vehicle.imageUrl" alt="{{ vehicle.title }}"
          class="w-full h-40 object-cover rounded-b-none rounded-md mb-4" />
        <div class="p-4">

          <h3 class="text-lg text-[#320c69] font-medium">{{ vehicle.title }}</h3>
          <p class="text-sm text-[#320c69] mb-1">{{ vehicle.km }} kms · {{ vehicle.fuelType }} · {{ vehicle.transmission
            }}
          </p>

          <div class="mt-1 mb-2">
            <p class="text-lg font-bold text-[#320c69]">₹{{ vehicle.price-vehicle.price/4 | number }}</p>
            <p class="text-sm text-[#320c69] line-through">
              ₹{{ vehicle.price | number }}
              <span class="text-green-600 font-semibold ml-1">(Save ₹{{ vehicle.price/4 | number }})</span>
            </p>
          </div>

          <button (click)="goToDetailPage(vehicle)" class="mt-auto text-red-600 font-semibold hover:underline flex items-center">
            View Details <span class="ml-1 text-red-600">⮞</span>
          </button>

          <p class="text-sm text-[#320c69] mt-2"> {{ vehicle.location }}</p>

        </div>
      </div>
    </div>

  </div>

  <div class="border border-t-0 border-black w-full"></div>


  <div class="my-10 max-w-full p-8">
    <div>
      <h2 class="text-4xl text-[#320c69] text-center font-semibold mb-4">Used {{ type }} by budget</h2>
    </div>

    <div class="flex justify-center gap-3 mb-6 mx-auto">
      <button *ngFor="let budget of ['0-5', '5-10', '10-15', '15-20']"
        class="px-4 py-2 rounded-lg border border-[#320c69] text-[#320c69] text-sm font-medium hover:bg-[#320c69] hover:text-white"
        [ngClass]="{ 'bg-[#320c69] text-white': selectedBudget === budget }" (click)="selectedBudget = budget">
        {{ budget }}
        {{type=='bike'?'':'lakh'}}
      </button>
    </div>

    <div class="flex flex-wrap justify-center items-center gap-6">
      <div *ngFor="let vehicle of vehicleList" class="bg-white rounded-xl shadow-md w-72 flex flex-col overflow-hidden">

        <img [src]="vehicle.imageUrl" alt="{{ vehicle.title }}" class="w-full h-40 object-cover rounded-t-xl" />

        <div class="p-4 flex flex-col flex-grow">

          <h3 class="text-lg text-[#320c69] font-medium mb-1 truncate">{{ vehicle.title }}</h3>

          <p class="text-sm text-[#320c69] mb-2">{{ vehicle.km }} kms · {{ vehicle.fuelType }} · {{ vehicle.transmission
            }}</p>

          <p class="text-lg font-bold text-[#320c69] mb-2">₹{{ vehicle.price | number:'1.2-2' }}</p>

          <button (click)="goToDetailPage(vehicle)" class="text-red-600 font-semibold hover:underline flex items-center mb-2 mt-auto">
            View Details <span class="ml-1">⮞</span>
          </button>

          <p class="text-sm text-[#320c69]">{{ vehicle.location }}</p>

        </div>
      </div>
    </div>
  </div>
 -->

</section>
<app-footer></app-footer>