@keyframes verticalScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
  
  .animate-scroll {
    display: flex;
    animation: scroll-left 40s linear infinite;
  }
  
  .animate-scroll:hover {
    animation-play-state: paused;
  }
  .animate-verticalScroll {
    animation: verticalScroll 30s linear infinite;
  }