@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    display: flex;
    animation: scroll-left 30s linear infinite;
}

.animate-scroll>div {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}