<section class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 text-center">
        <h2 class="text-[#320c69] text-3xl font-bold text-[#320c69] mb-2">Automobile Center</h2>
        <div class="flex justify-center mb-8">
            <div class="w-16 h-1 bg-gradient-to-r from-green-400 to-blue-500 rounded"></div>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-8">
            <div *ngFor="let item of automobileItems" class="flex flex-col items-center transform hover:scale-125 transition-transform duration-300  ">
                <a [routerLink]="['/automobile', item.name.toLowerCase()]"
                    class="w-32 h-32 bg-gray-100 rounded-full flex items-center justify-center overflow-hidden">
                    <img [src]="item.img" [alt]="item.name" class="object-contain w-32 h-32">
                </a>
                <p class="mt-2 text-[#320c69] font-medium">{{ item.name }}</p>
            </div>
        </div>
    </div>
</section>